html{
        height:100%;
      }
      body{
        height:100%;
        margin: 0;
        padding: 0;
      }
      .box, .level {
        height: 100%;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
      }
      .titlebar{
        border-bottom: 1px solid #666;
        height: 42px;
      }
      h1 {
        color: #FFF;
        font: bold 20px Arial, "MS Trebuchet", sans-serif;
        margin: 0 auto;
        padding: 10px 0;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 400px;
      }
      .content, .level{
        -webkit-box-flex: 1;
      }
      .menubar {
        display: -webkit-box;
        -webkit-box-orient: horizontal;
        border-top: 1px solid #333;
        text-align: center;
      }
      .menubar > * {
        -webkit-box-flex: 1;
        font-size: .8em;
        height: 1.2em;
        padding: 26px 0 .4em 0;
        color: #808184;
        text-decoration: none;
        margin: .3em;
        display: block;
        width: 1px;
      }
      .levelIcon {
        font: bold 24px/26px inherit;
        height: 26px;
        margin-top: -26px;
        text-align: center;
       /* text-shadow: rgba(255,255,255,0.3) 1px 1px 0px; */
      }
      .levelActive {
        -webkit-border-radius: .5em;
        color: #ddd;
      }

      .titlebar{
       /* background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999)); */
       background-color: grey; 
      }
      .menubar {
       /* background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#000000), color-stop(.5,#222),color-stop(.5,#161616));
       */
       background-color: #aaa;
      }
      .levelActive {
       /* background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#777), to(#222), color-stop(.5,#444),color-stop(.5,#363636));
      */
        background-color: black;
      }

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
  box-shadow:inset 0px 1px 0px 0px #fbafe3;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
  background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
  background-color:#ff5bb0;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0px;
  border:1px solid #ee1eb5;
  display:inline-block;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:18px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:110px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #c70067;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ef027d), color-stop(1, #ff5bb0) );
  background:-moz-linear-gradient( center top, #ef027d 5%, #ff5bb0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef027d', endColorstr='#ff5bb0');
  background-color:#ef027d;
}.button:active {
  position:relative;
  top:1px;
}
/* This button was generated using CSSButtonGenerator.com */